# Node
NODE_ENV=development

# Nest
NEST_PORT=3001
NEXT_URL=http://localhost:3000

# Next
NEXT_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=popover_input_demo
